body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.topo{
    height: 69px;
    width: 100vw;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top:0;
    z-index: 5;
}

.topo>p{
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}

/* main{
    
} */

/* Tela 1 */

.container{
    height: 181px;
    width: 340px;
    border-radius: 5px;
    
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:13px auto 13px;
    
    
    }

.criar-quizz{
    margin-top: 100px;
    border: 1px dashed #D5D5D5;
    margin-bottom: 35px;
}


.container>p{
    width: 250px;
    height: 107px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.botao-quiz{
    height: 40px;
    width: 136px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
}

.titulo{
    display:flex;
    font-size: 20px;
    font-weight: 700;  
}
.titulo>p{
    margin-bottom: 10px;
    margin: 0 18px;
}
.card-quizz{
    height: 181px;
    font-size: 19px;
    font-weight: 400px;
    display:flex;
    justify-content: flex-end;
    color: white;
    margin: none;
    margin-top: 10px;
    position: relative;
}
.card-quizz>span{
    position: absolute;
    bottom: 15px;
    margin: 0 18px;  
}
.card-quizz>img{
    height: 181px;
    width: 340px;
}

/* tela 2 - página de um quizz */

.pagina-quizz{
    background-color:  #E5E5E5;
}
.nome-quizz{
    display: flex;
    position: relative;
    margin-top: 69px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}

.img-gradient {
    position:relative;
}

.img-gradient::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.57));
}
.nome-quizz img{
    width: 100vw;
}
.nome-quizz p{
    color: #FFFFFF;
    position: absolute;
    font-size: 19px;
    line-height: 22px;
}
.pergunta{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    background-color:  #FFFFFF;
    margin-bottom: 28px
}
.topo-pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 16px 15px 16px;
    width: 91.43vw;
    background-color: #434CA0;
    margin: 18px 4.79% 12px 4.79%;
}
.topo-pergunta p{
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;    
}
.opcoes-resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4.79%;
}
.img-pergunta img{
    width: 43.7vw;
}
.img-pergunta p{
    font-weight:  700;
    font-size:  13px;
    line-height: 15.23px;
    padding: 5px 0 12px 0;
}

/* fim do quizz */
.fim-quizz{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    background-color:  #FFFFFF;
    margin-bottom: 28px
}
.topo-fim-quizz{
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 16px 15px 16px;
    width: 91.43vw;
    margin: 18px 4.79% 12px 4.79%;
}
.topo-fim-quizz p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
}
.fim-quizz img{
    margin: 0 4.79% 9px 4.79%;
    width: 91.42%;
}
.msg-final{
    color: #484848;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 4.79% 0 4.79%;
    padding-bottom: 14px;
}
.final-pag-quizz{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.reiniciar-quizz{
    color: #FFF5F4;
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 34px;
    margin-bottom: 8px;
}
.voltar-home{
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #818181;
    font-size: 18px;
    line-height: 21.09px;
    padding: 12px;
    margin-bottom: 66px
}
@media(min-width: 1100px){
    .container-perguntas-quizz{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .pergunta{
        width: 759px;
        height: 676px;
    }
    .img-pergunta img{
        width: 329.91px;
        height: 175.2px;
    }
    .nome-quizz img{
        width: 100vw;
    }
    .nome-quizz p{
        font-size: 39px;
    }
    .fim-quizz{
        width: 759px;
        height: 430px;
    }
    .fim-quizz img{
        width: 364px;
        height: 273px;
        margin: 0;
        margin-right: 21px;
    }
    .msg-final{
        width: 318px;
        margin: 0;
    }
    .meme-final{
        display: flex;
        justify-content: center;
        margin: 0 4.79% 0;
    }
}
/* Utilitarios */
.none{
    display: none;
}
.opacidade{
    opacity: 0.3;
}
.resposta-certa{
    color: #009C22;
}
.resposta-errada{
    color: #FF4B4B;
}
