body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #fafafa;
}

.topo{
    height: 69px;
    width: 100vw;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top:0;
    z-index: 5;
}

.topo>p{
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}


/* Tela 1 */

.home{
    margin-top: 100px;
}

.container{
    height: 181px;
    width: 340px;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:13px auto 13px;
    }

.criar-quizz{
    border: 1px dashed #D5D5D5;
    margin-bottom: 35px;
}


.container>p{
    width: 250px;
    height: 107px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.botao-quiz{
    height: 40px;
    width: 136px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
}

.titulo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700; 
    margin: 0 18px; 
}
.titulo>p{
    margin-bottom: 10px;
}

.titulo>ion-icon{
    color:red;
    font-size: 30px;
}


.card-quizz{
    height: 181px;
    font-size: 19px;
    font-weight: 400px;
    display:flex;
    justify-content: flex-end;
    color: white;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    
}
.card-quizz>span{
    position: absolute;
    bottom: 15px;
    margin: 0 18px;  
}
.card-quizz>img{
    height: 181px;
    width: 340px;
    border-radius: 10px;
}
.layer{
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

/* tela 2 - página de um quizz */

.pagina-quizz{
    background-color:  #E5E5E5;
}
.nome-quizz{
    display: flex;
    position: relative;
    margin-top: 69px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}

.img-gradient {
    position:relative;
}

.img-gradient::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.57));
}
.nome-quizz img{
    object-fit: cover;
}
.nome-quizz p{
    color: #FFFFFF;
    position: absolute;
    font-size: 19px;
    line-height: 22px;
    padding: 0 4.79%;
}
.pergunta{
    padding:10px 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 100vw;
    background-color:  #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.topo-pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 16px 15px 16px;
    width: 91.43vw;
    background-color: var(--cor-pergunta);
    margin: 18px 4.79% 12px 4.79%;
}
.topo-pergunta p{
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;    
}
.opcoes-resposta{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.79%;
}

.img-pergunta img{
    width: 43.7vw;
    height: auto;
}
.img-pergunta p{
    overflow: hidden;
    font-weight:  700;
    max-width: 43.7vw;
    font-size:  13px;
    line-height: 15.23px;
    margin: 5px 0 12px 0;
    word-break: keep-all;
}

/*Tela 2 fim do quizz */
.fim-quizz{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    background-color:  #FFFFFF;
    margin-bottom: 28px
}
.topo-fim-quizz{
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 16px 15px 16px;
    width: 91.43vw;
    margin: 18px 4.79% 12px 4.79%;
}
.topo-fim-quizz p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
}
.meme-final{
    width: 100%;
}
.fim-quizz img{
    margin: 0 4.79% 9px 4.79%;
    width: 90.42%;
    height: auto;
}
.msg-final{
    color: #484848;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 4.79% 0 4.79%;
    padding-bottom: 14px;
    overflow: hidden;
    word-break: break-all;
}
.final-pag-quizz{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.reiniciar-quizz{
    color: #FFF5F4;
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 34px;
    margin-bottom: 8px;
}
.voltar-home{
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #818181;
    font-size: 18px;
    line-height: 21.09px;
    padding: 12px;
    margin-bottom: 66px
}


/* Tela 3  */

.criacao-quiz{
    margin-top: 106px;
    display: flex;
}
.criacao{
    width: 360px;
    margin: 0 auto 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    max-width: 100vw;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.primeira-tela-criacao, .segunda-tela-criacao, .terceira-tela-criacao{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.final-tela-criacao{
    margin-left: -13px;
    margin-right: auto;
}

.pergunta1{
    width: 300px;
    padding: 10px 0;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-between;   
    background-color: #FFFFFF;
}

.sumir{
    margin-left: auto;
    margin-right: auto;
}
.abrir-pergunta{
    width: 100vw;
    padding: 10px 0 10px 0;
    background-color: #ffffff;
}

.pergunta>p{
    margin-left: 20px;
}
.icone-perguntas{
    padding-right: 20px;
}

.caixa>li>input{
    height: 46px;
    width: 95vw;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    margin: 7px 12px;
    
}
input::placeholder {
    color: #bababa;
}

textarea{
    height: 100px;
    width: 333px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin: 7px 12px;
}

textarea::placeholder {
    color: #bababa;
}

.botao{
    height: 54px;
    width: 324px;
    background-color: #EC362D;
    color:#fafafa;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    margin: 29px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-voltar{
    height: 54px;
    width: 324px;
    
    color:#818181;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ................................................................ */
/* Utilitarios */
.none{
    display: none;
}
.opacidade{
    opacity: 0.3;
}
.resposta-certa{
    color: var(--cor-certa);
}
.resposta-errada{
    color: var(--cor-errada);
}


@media(min-width: 1100px){
    .container-perguntas-quizz{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 150px;
    }
    .topo-pergunta{
        height: auto;
    }
    .topo-pergunta p{
        font-size: 23px;
    }
    .pergunta{
        width: 759px;
        height: auto;
    }
    .img-pergunta img{
        width: 329.91px;
        height: 175.2px;
    }
    .img-pergunta p{
        max-width: 329.91px;
    }
    
    .nome-quizz img{
        object-fit: cover;
    }
    .nome-quizz p{
        font-size: 39px;
    }
    .fim-quizz{
        width: 759px;
        height: 430px;
    }
    .fim-quizz img{
        width: 364px;
        height: 273px;
        margin: 0;
        margin-right: 21px;
    }
    .msg-final{
        overflow-x: hidden;
        word-break: keep-all;
        width: 290px;
        margin: 0;
    }
    .meme-final{
        display: flex;
        justify-content: center;
        margin: 0 4.79% 0;
    }

    .home{
        margin-left: auto;
        margin-right: auto;
        max-width: 1051px;
        background-color: #fafafa;
    }
    .quiz-api{
        display: flex;
        flex-wrap: wrap;
    }
    .card-quizz{
        width: 340px;
    }
    .seus-quizzes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .primeira-tela-criacao{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .segunda-tela-criacao{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    textarea{
        width: 580px;
    }
    .terceira-tela-criacao{
        width: 600px;
        margin-left: auto;
        margin-right: auto;  
    }
    .caixa>li>input{
        width: 580px;
    }

    .final-tela-criacao>.card-quizz{
        height: 266px;
        width: 500px;
    }
    .final-tela-criacao>.card-quizz>img{
        height: 266px;
        width: 500px;
    }

    .pergunta1{ 
        width: 600px;
    }
}

